language: node_js
os:
  - linux
  - osx
node_js:
  - "6"
  - "8"
  - "10"
  - "12"
  - "13"
  - "lts/*"
  - "node"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
install:
  # Node.js compiler requirements
  - if [ $TRAVIS_OS_NAME == linux ]; then
      export CXX=g++-4.8;
    fi
  - npm pack .
  - tar -xzf hdt-*.tgz
  - cd package
  - npm install
script:
  - npm run lint
  - npm test
cache:
  directories:
    - node_modules
